<div id="sidebar" class="nav-collapse" tabindex="5000" style="overflow: hidden; outline: none;" *ngIf="isSignedIn">
  <!-- sidebar menu start-->
  <ul class="sidebar-menu">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="">
        <i class="icon_house_alt"></i>
        <span>Home</span>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="apis">
        <i class="icon_house_alt"></i>
        <span>Apis</span>
      </a>
    </li>
  </ul>
</div>
