<aside *ngIf="isSignedIn">
  <div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li class="active">
        <a class="" routerLink="dashboard">
          <i class="icon_house_alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a class="" routerLink="">
          <i class="icon_house_alt"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a class="" href="#apps">
          <i class="icon_house_alt"></i>
          <span>Apps</span>
        </a>
      </li>
      <li>
        <a class="" href="#apis">
          <i class="icon_house_alt"></i>
          <span>Apis</span>
        </a>
      </li>
    </ul>
  </div>
</aside>