<div class="col-xs-12 col-md-12 col-lg-12">
   <div class="page-header">
      <h1><span>Apps</span></h1>
    </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-2">
      <label class="label-control pull-left m-r-20">Rows on page</label>
      <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
      </select>
    </div>
    <div class="col-xs-2">
      <label class="label-control pull-left">Sort by</label>
      <select class="form-control input-sm" [(ngModel)]="sortBy">
        <option ngValue="id">Id</option>
        <option ngValue="title">Title</option>
      </select>
    </div>
    <div class="col-xs-2">
      <label class="label-control pull-left">Sort Direction</label>
      <select class="form-control input-sm" [(ngModel)]="sortOrder">
        <option ngValue="asc">Ascending</option>
        <option ngValue="desc">Descending</option>
      </select>
    </div>
    <div class="col-xs-2">
      <a routerLink="/apis/new">
        <i class="icon_house_alt"></i>
        <span>New Api</span>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table table-striped" [mfData]="apis" #mf="mfDataTable"  [mfRowsOnPage]="rowsOnPage"  [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
        <tr>
          <th>ID</th>
          <th>
            Title
          </th>
          <th>
            Response
          </th>
          <th>
            Api Token
          </th>
          <th>
            End Point
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input class="form-control" [(ngModel)]="titleFilter" (ngModelChange)="filter($event)" placeholder="Search By Title"/>
          </th>
          <th></th>
          <th>
            <input class="form-control" [(ngModel)]="tokenFilter" (ngModelChange)="filter($event)" placeholder="Search By Token"/>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let api of mf.data">
            <td>{{ api.id }}</td>
            <td>{{ api.title }}</td>
            <td>{{ api.api_response }}</td>
            <td>{{ api.api_token }}</td>
            <td>{{ api.end_point }}</td>
            <!-- <td>
                <button (click)="remove(item)" class="btn btn-danger">x</button>
            </td> -->
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>